<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 AI News Hub —
            <a href="https://twitter.com/#" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@ai_news_hub</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a href="#" class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2H6a2 2 0 0 0-2 2v18l4-4h10a2 2 0 0 0 2-2V4a2 2 0 0 0 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                </a>
            </span>
    </div>
</footer>
<script src="script.js"></script>
</body>
</html>
